img {
	height: 300px;
	width: 600px;
}

p {
	color: dimgray;
}
body {
	background-color: ghostwhite;
}
footer {
	background-color: lightpink;
}
/*Horizontal Nav Bar*/
ul{
	list-style-type: none;
}
li {
	display: block;
}